<h1>Imports

In [36]:
import pandas as pd
from sklearn import tree

In [37]:
tweetsDF = pd.read_excel("TweetsDataBase.xlsx")
tweetsDF

       Unnamed: 0        Tweets  Orientation
0               0         since            0
1               1         mayor            0
2               2            vi            0
3               3         lyles            0
4               4  instrumental            0
...           ...           ...          ...
77422       77422         night            1
77423       77423          tour            1
77424       77424    incredible            1
77425       77425         night            1
77426       77426         https            1

[77427 rows x 3 columns]

<h1>Splitting Data

In [38]:
Features = tweetsDF[["Tweets"]]
Target =tweetsDF[["Orientation"]]

In [39]:
from sklearn import preprocessing
le = preprocessing.LabelEncoder()
le.fit(Features["Tweets"].unique())
encodedWords = le.transform(Features["Tweets"])
encodedDF = pd.DataFrame(encodedWords,columns=['Tweets'])

In [40]:
Features = encodedDF

In [41]:
from sklearn.model_selection import train_test_split
Features_train, Features_test, Target_train, Target_test = train_test_split(Features, Target, random_state=0, train_size = .75)

In [42]:
Features_train

       Tweets
57684    5707
58742    9450
48754    3095
67863    5742
3423    11119
...       ...
21243   10037
45891    1650
42613   10037
43567    5657
68268    4729

[58070 rows x 1 columns]

<h1>Decision Tree

In [44]:
stTreeEntropy = tree.DecisionTreeClassifier(criterion="entropy")           # defining decision tree classifier (basic)
stTreeEntropy = stTreeEntropy.fit(Features_train,Target_train)
# predictionEnt = stTreeEntropy.predict(Features_test)