<h1>Import Statements<h1>

In [65]:
import tweepy
import snscrape.modules.twitter as sntwitter
import pandas as pd
from nltk.corpus import stopwords
import functools

In [66]:
dtP = pd.read_excel("PoliticalFiguresTwitter.xlsx")
dtP

             Democrat        Republican
0           @RepAdams  @Robert_Aderholt
1     @RepPeteAguilar    @RepMarkAlford
2     @RepColinAllred     @RepRickAllen
3     @RepAuchincloss    @MarkAmodeiNV2
4          @RepBeccaB   @RepArmstrongND
..                ...               ...
206     @RepDWStweets    @RepWaltzPress
207  @RepMaxineWaters        @TXRandy14
208        @RepBonnie       @RepWebster
209        @RepWexton  @RepBradWenstrup
210     @RepSusanWild     @RepWesterman

[211 rows x 2 columns]

In [67]:
def get_tweets(username):
    query = "(from:" +username + ") until:2023-02-18 since:2010-01-01"
    tweets = []
    limit = 10

    for tweet in sntwitter.TwitterSearchScraper(query).get_items():
        if len(tweets) == limit:
            break
        else:
            tweets.append(tweet.dfgcontent)

    return tweets

<h1>Democrats<h1>

In [68]:
democrats = dtP.loc[:,"Democrat"]
democratTweets = []
for democrat in democrats:
    democratTweets.append(get_tweets(democrat))

/var/folders/31/nksw3gt16f56vjt9dl1sgttw0000gn/T/ipykernel_7603/3623917836.py:10: FutureWarning: content is deprecated, use rawContent instead
  tweets.append(tweet.content)

In [69]:
democratTweets = functools.reduce(lambda x, y: x+y, democratTweets) #flattenlist

<h1>Republicans<h1>

In [70]:
republicans = dtP.loc[:,"Republican"]
republicanTweets = []
for republican in republicans:
    republicanTweets.append(get_tweets(republican))

/var/folders/31/nksw3gt16f56vjt9dl1sgttw0000gn/T/ipykernel_7603/3623917836.py:10: FutureWarning: content is deprecated, use rawContent instead
  tweets.append(tweet.content)

In [71]:
republicanTweets = functools.reduce(lambda x, y: x+y, republicanTweets) #flattenlist

<h1>Combine

In [80]:
#no need to do this 

#make sure we have equal amount of tweets for merging
# if len(republicanTweets) != len(democratTweets):
#     delta = abs(len(republicanTweets) - len(democratTweets))
#     if len(republicanTweets) > len(democratTweets):
#         republicanTweets = republicanTweets[0:len(republicanTweets) - delta]    
#     else:
#         democratTweets = democratTweets[0:len(democratTweets) - delta]

In [93]:
merge = []
for tweet in democratTweets:
    merge.append([tweet,0])
for tweet in republicanTweets:
    merge.append([tweet,1])

In [97]:
tweetsDF = pd.DataFrame(merge,columns=['Tweets','Orientation'])

In [98]:
tweetsDF

                                                 Tweets  Orientation
0     Since then, Mayor Vi Lyles has been instrument...            0
1     Vi was first elected as an at large member of ...            0
2     Vi Lyles was born in Columbia, South Carolina ...            0
3     #BlackHistoryMonth fact: Mary attended Barber ...            0
4     @michelle_other @CLTMayor @ViLyles @JeffJackso...            0
...                                                 ...          ...
4181  My statement regarding the ongoing situation i...            1
4182  This new facility will bring 80 new high-wage ...            1
4183  The new @PureCycleTech facility in Ironton wil...            1
4184            Read more here: https://t.co/zDyBExzfL0            1
4185  The American people deserve answers. https://t...            1

[4186 rows x 2 columns]

In [99]:
tweetsDF.to_excel("TweetsDataBase.xlsx")